
@{
    ViewBag.Title = "_LayoutTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <h1 class="gb-header__title">
        <a href="~/Test/ListTest"><img class="icon-bar" src="https://cdn-img.easyicon.net/png/11502/1150233.gif" style="width:90px;height:58px;" /></a>
        <a href="~/Test/ListTest">Тесты</a>
    </h1>
</div>
<hr />
<div>
    @RenderBody()
</div>


